services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - APP_DATA_DIR=/data
      - POPPLER_PATH=C:\bin\poppler\poppler-25.07.0\Library\bin
    volumes:
      - ./data:/data
      # Optionally mount a custom Poppler build and set POPPLER_PATH accordingly
      # - ./poppler:/opt/poppler
      # environment:
      #   - POPPLER_PATH=/opt/poppler
